body{
    background-color:#FF78C4;
    
}
.task_manager{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}
.tasks{
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color:#FFBDF7;
}
.task{
    background-color:#98D8AA;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap:10px;
}
.task.completed{
    opacity: 0.5;
    background-color: #FF6D60;
}
.task span.content{
    flex-grow: 1;
    
}
.task input .edit_input{
    flex-grow: 1;
}
button{
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    
}
.edit{
  background-color: transparent;  
  border-radius: 5px;
  padding: 10px;
}
.delete{
    background-color: #B70404;
}
.save{
    background-color: green;
}
.add_task_container button{
    background-color: green;
}
input{
    border: 1px solid green;
    border-radius: 5px;
    padding: 8px 12px;
}
.add_task_container{
    width: 440px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px;
}
.add_task_container input{
    flex-grow: 1;
}